@require "~styles/mixins";

.auth-tile
  background-color #f1f1f1;
  position relative
  display flex
  align-items center
  flex-direction column

  &__form
    margin-top 60px
    width 560px
    //height 468px
    border-radius 18px
    background-color white
  &__logo
    margin-top 60px
    text-align center

