@require "~styles/mixins";

.pagination
  inline-row(gutter:5px, valign:middle, halign:left)
  margin 20px 0 20px

  > *
    font-family ProximaNova
    font-size 14px
    font-weight 700
    color #4a4a4a

  > * + *
    margin-left 10px

  &__btn
    min-width 35px
    height 35px
    border-radius 1px
    background-color #eeeeee
    text-align center
    border none
    &[disabled="disabled"]
      opacity 0.4

  &__input
    width 50px
    padding 5px 10px
    border-radius 1px;
    background-color #fff;
    border solid 1px #e5e5e5
    color #4a4a4a

  &__info
    padding 0 5px
    text-align center

