@require "~styles/mixins";

.signup-form
  &__wrapper
    padding 20px 50px
  &__submit-button
    height 50px
    border-radius 25px
    background links-color
    box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    font-size 18px
    width 100%
  &__submit-button_invalid
    background-color #ccc
    cursor not-allowed
  &__policies
    color grey-light
    letter-spacing -0.4px
    font-size 14px
  &__policies-link
    color grey-light
  &__form-bottom
    border-top solid 1px #dfdfdf
    height 78px
    padding 20px
    text-align center
  &__have-account
    color grey-light
  &__log-in
    color #3459a1



