@require "~styles/mixins";

.login-form
  &__header
    font-size 20px
    font-weight bold
    text-align center
  &__wrapper
    padding 20px 50px
  &__submit-button
    height 50px
    border-radius 25px
    background links-color
    box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    font-size 18px
    width 100%
  &__submit-button_invalid
    background-color #ccc
    cursor not-allowed
  &__remember-me-box
    font-size 16px
    display flex
    flex-direction row
  &__remember-me
    color grey-light
  &__show-password
    margin-left auto
  &__show-password-link
    color grey-light
  &__forget-password
    text-align center

  &__form-bottom
    border-top solid 1px #dfdfdf
    height 78px
    padding 20px
    text-align center
  &__no-account
    color grey-light
  &__sign-up
    color #3459a1



