.profile-dropdown
  width 249px
  height 151px
  background url('./images/profile-balloon.png') no-repeat
  padding 20px 10px 10px
  &__container
    height 100%
    //display flex
  &__action
    color black
    text-align center
    display block
    height 60px
    line-height 60px
    border-bottom solid 1px #dfdfdf
  &__action:last-child
    border-bottom none
