@require "~styles/mixins"

.forget-password
  &__wrapper
    padding 40px 50px
  &__header
    font-size 18px
    text-align center
    font-weight bold
  &__text
    margin-top 30px
  &__submit-button
    text-align center
    line-height 30px
    height 50px
    border-radius 25px
    background links-color
    box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    font-size 18px
    width 100%
    margin-top 30px
  &__submit-button_invalid
    background-color #ccc
    cursor not-allowed
  &__cancel-link
    text-align center





