<auth-tile>
    <div class="forget-password">
        <div class="forget-password__wrapper" [ngSwitch]="step">
            <form class="form-auth" [formGroup]="forgetPassordForm" *ngSwitchCase="1">
                <h2 class="forget-password__header">Forgot password</h2>
                <p class="forget-password__text"> Please enter your user or the email address associated
                    with the account so we can help you reset your password.</p>
                <!--Email-->
                <div class="form-group">
                    <label class="label">Username or email</label>
                    <div class="input-group">
                        <input class="form-control form-control_auth"
                               type="email"
                               autocomplete="email"
                               name="email"
                               formControlName="email"
                        />
                    </div>
                </div>
                <div class="form-error" *ngIf="errorMessage">{{errorMessage}}</div>

                <div class="form-group">
                    <button class="form-button forget-password__submit-button" type="submit"
                            [ngClass]="{'forget-password__submit-button_invalid': forgetPassordForm.invalid}"
                            [disabled]="restoring"
                            (click)="forgetPassword()">Continue
                    </button>
                </div>
                <div class="form-group forget-password__cancel-link">
                    <a uiSref="app.login">Cancel</a>
                </div>


            </form>
            <form class="form-auth" *ngSwitchCase="2">
                <h2 class="forget-password__header">Check your email</h2>
                <p class="forget-password__text"> We’ve sent a message to the email address associated
                    with your account with instructions for resetting your password.</p>

                <div class="form-group">
                    <a class="form-button forget-password__submit-button" type="button"
                       uiSref="app.login">Continue
                    </a>
                </div>


            </form>
        </div>

    </div>
</auth-tile>